<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <!-- start cast list -->

  <!-- end cast list -->
</section>


<br><br>
<h2>Add Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <select name="destination">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Arrival Time:</label>
  <input type="date" name="Arrival">
  <input type="submit" value="Add Destination and Date">
</form>

 %></p>

<h2>Destinations</h2>
<ul>
  <% flight.destinations.forEach(destination => { %>
    <li><%= destination.airport %> - <%= destination.arrival %></li>
  <% }) %>
</ul>